<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock</title>
</head>
<body>
    <form action="/stockprice">
        <label>
            <input name="stock" placeholder="enter stock">
        </label>
    </form>
</body>
</html>